# docker-compose.yml
version: '3.8'
services:
  postgres:
    image: postgres:16
    container_name: firstproject-postgres
    environment:
      POSTGRES_DB: firstprojectdb
      POSTGRES_USER: user1
      POSTGRES_PASSWORD: pass123
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: